* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --orange: #ff8d3b;
  --body-color: #f5f5f7;
  --navbar-color: #f8f8f8;
  --primary-font: "Jockey One", sans-serif;
  --secondary-font: "Gemunu Libre", sans-serif;
}

body {
  background-color: var(--body-color);
  font-family: var(--secondary-font);
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.6)
    ),
    url("../images/texture-bg.jpg") !important;
}

/* NAVBAR */

nav {
  background-color: var(--navbar-color);
  padding: 1rem;
  max-width: 100%;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
}

.main-nav {
  position: sticky !important;
  top: 0;
  z-index: 99999;
}

.navbar-native {
  margin: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchbar input[type="text"] {
  width: 40rem;
  height: 2.25rem;
  background-color: #f5f5f7;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
}

.search-input {
  flex-grow: 1;
  border: none;
  padding: 0.5rem 1rem;
  height: 2.25rem;
  outline: none;
}

.search-button {
  background: none;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  color: white;
  transition: background-color 0.3s ease;
  padding-right: 0.8rem;
}

.search-button:hover {
  background-color: chocolate;
}

.search-button .bi-search {
  font-size: 1.2rem;
}

.nav-links ul {
  text-decoration: none;
  list-style-type: none;
}

.brand-name h1 {
  color: black;
  font-weight: 700;
  font-size: 2rem;
  font-family: var(--secondary-font);
  font-weight: 800;
  text-decoration: none !important;
}

.brand-name span {
  color: var(--orange);
}

.burger {
  cursor: pointer;
  font-size: 24px;
  align-items: center;
  /* margin-top: -7px; */
  margin-right: 10px;
  display: none;
}

.navbar-drawer {
  display: flex;
  justify-content: space-between;
  margin: 0 30rem;
  background-color: var(--navbar-color);
  padding: 0.5rem 3rem;
  border-radius: 0 0 20px 20px;
  background-color: var(--orange);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.75);
  clip-path: inset(0px -15px -15px -15px);
}

.navbar-drawer a {
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
}

.navbar-drawer a:hover {
  transform: scale(1.1);
  border-radius: 5px;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: chocolate;
}

/* END OF NARBAR */

/* FOOTER */

.pre-footer {
  background-color: var(--orange);
  margin-top: 2rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  gap: 13rem;
}

.pre-footer a {
  font-size: 1.2rem;
  color: #f5f5f7;
  text-decoration: none;
}

.pre-footer a:hover {
  text-decoration: underline;
  color: black;
}

.pre-footer h2 {
  font-weight: 700;
}

.pre-footer-logo img{
    max-width: 100%;
    background-color: #f5f5f7;
    border-radius: 50%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
    height: auto;
    width: 80%;
    
}

.footer {
  background-color: var(--orange);
  padding: 0.1rem;
  text-align: center;
  font-weight: 800;
}

/* END OF FOOTER */

/* Responsive */
/* 
.card {
    width: 100%;
    max-width: 4000px;
    margin: auto;
}

.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
} */

@media (max-width: 768px) {


    .nav-links{
        display: none;
        flex-direction: column;
        background: var(--orange);
        position: absolute;
        top: 50px;
        width: 250px;
        padding: 10px;

    }

    .nav-links.show{
        display: flex;
    }

    .nav-links li{
        padding: 10px;
        text-align: center;
    }

    .nav-links a{
        color: white;
        text-decoration: none;
        padding: 10px 0;
        font-style: var(--secondary-font);
    }

    .brand-name h1{
        margin: 0 !important;
    }

    .carousel{
        margin-top: 0 !important;
    }

    .navbar-native{
        margin: 0 1.2rem;
        align-items: center;
    }

    .burger{
        display: block;
    }

    .navbar-drawer, .search-input, .login, .searchbar, .card-text{
        display: none !important;
    }

    .product-card{
        margin: 0 !important;
    }

    .card{
        height: 20rem !important;
    }


    .pre-footer{
        display: block;
        text-align: center;
    }
    

    .pre-footer-logo img{
        height: auto;
        width: 85px;
    }


    .laptop-brands, .about-us, .socials{
        margin-bottom: 20px;
    }


}


@media (max-width: 1370px){
    
    .nav-links{
        display: none;
        flex-direction: column;
        background: var(--orange);
        position: absolute;
        top: 50px;
        width: 250px;
        padding: 10px;

    }

    .nav-links.show{
        display: flex;
    }

    .nav-links li{
        padding: 10px;
        text-align: center;
    }

    .nav-links a{
        color: white;
        text-decoration: none;
        padding: 10px 0;
        font-style: var(--secondary-font);
    }

    .brand-name h1{
        margin: 0 !important;
    }

    .carousel{
        margin-top: 0 !important;
    }

    .navbar-native{
        margin: 0 1.2rem;
        align-items: center;
    }

    .burger{
        display: block;
    }

    .navbar-drawer, .search-input, .login, .searchbar{
        display: none !important;
    }
}