@import url("body-navbar-footer.css");

.featured-laptops {
    margin-top: 2rem;
}

.featured-laptops h2 {
    font-weight: 800;
}

.card-carousel {
    height: fit-content;
    width: 100%;
    display: flex;
    gap: 40px;  
    flex-wrap: wrap;
    justify-content: center;
}

.section-heading {
    margin-bottom: 2rem;
    text-align: center;
}

.product-card {
    min-width: 27.5%;
    width: 4%;
    height: 720px;
    /* border: 2px solid red; */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    border: 0 !important;
    transition: 0.3s ease-in-out;
    cursor: pointer;
    overflow: hidden;
    /* min-height: 780px; */
}

.card-img {
    object-fit: contain;
    height: 25rem;
    padding: 0 2rem;
    /* border: 2px solid green; */
}

.card-body {
    padding: 0 2.1rem 0 2.1rem !important;
    /* border: 2px solid green; */
}

.card a {
    text-decoration: none;
    color: black;
}

.product-card:hover {
    transform: scale(1.05);
    z-index: 1;
}


@media (max-width: 768px){
    .product-card{
        margin: 0 !important;
    }

    .card{
        height: auto !important;
        width: auto !important;
    }


    .card-img{
        object-fit: cover !important;
        padding: 5px !important;
        height: 15rem;
        
    }
}