@import url("body-navbar-footer.css");

#page-title {
  margin-top: 10vh;
  text-align: center;
  font-family: var(--primary-font);
  margin-bottom: 5vh;
}

#page-title span,
.product-cost span,
.total-cost-container span {
  color: var(--orange);
}

.shopping-cart-container {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 30px;
  margin: auto;
  margin-bottom: 20vh;
}

.item-card-container {
  width: 67.5%;
}

.checkout-container {
  width: 27.5%;
}

#item-card-header {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
}

#item-card-body {
  padding: 1rem 2rem;
  max-height: 60vh;
  overflow-y: auto;
}

.card-item {
  margin: 0rem 1rem;
}

#item-card-header div:first-child,
.product-item {
  width: 65%;
  text-align: left;
}

#item-card-header div:nth-child(2),
.quantity-selector {
  text-align: center;
}

#item-card-header div:last-child,
.product-total {
  text-align: right;
}

#item-card-header div:nth-child(2),
#item-card-header div:last-child,
.quantity-selector,
.product-total {
  width: 17.5%;
}

.placeholder-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5vh;
}

.placeholder-item:last-child {
  margin-bottom: 0;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-img {
  width: 120px;
  height: 120px;
}

.quantity-selector-tally {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quantity-selector-tally i:hover,
.remove-product:hover,
.x-button:hover {
  cursor: pointer;
  color: var(--orange);
}

.checkout-container-inner {
  padding: 2rem 2rem;
}

.total-cost-container {
  display: flex;
  justify-content: space-between;
}

.checkout-container textarea {
  resize: none;
  overflow-y: auto;
  height: 200px !important;
  width: 100%;
  padding: 1rem 1rem;
  margin-top: 1vh;
}

.send-instructions {
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  font-weight: bold;
  background-color: var(--orange);
}

.checkout-btn {
  font-weight: bold;
  background-color: var(--orange);
}

.send-instructions:hover,
.send-instructions:active,
.checkout-btn:hover,
.checkout-btn:active {
  background-color: chocolate !important;
}

.send-instructions:active,
.checkout-btn:active,
.purchase-btn:active {
  transform: scale(0.95);
}

.subtract-button:active,
.add-button:active,
.x-button:active {
  transform: scale(0.85);
}

.checkout-note {
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
}

.comment-notice {
  margin: 0;
  display: none;
}

#customer-comment {
  resize: none;
  overflow-y: auto;
  height: 100px !important;
  width: 100%;
}

/* bold styling, can be changed if so wishes */
.product-name,
.product-cost,
.remove-product,
.product-total-value,
.total-cost,
.comment-notice,
#checkoutModalLabel,
#order-form label,
.form-header {
  font-weight: bold;
}

.modal-dialog {
  height: 57.5vh;
  display: flex;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 57.5vh;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
}

/* Responsiveness */
@media (max-width: 768px) {
  .shopping-cart-container {
    display: block;
  }

  /* Item Card Container */
  .product-img {
    height: 64px;
    width: 64px;
  }

  .card-item {
    margin: 0;
  }

  .product-name {
    max-width: 80%;
    font-size: 1rem;
    margin: 0;
  }

  .quantity-selector-tally i {
    transform: scale(0.6);
  }

  .item-card-container {
    width: auto;
  }

  #item-card-header {
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
  }

  #item-card-body {
    padding: 1rem;
  }

  .product-item, #item-card-header div:first-child {
    min-width: 60%;
    max-width: 60%;
  }

  .quantity-selector, #item-card-header div:nth-child(2) {
    min-width: 17.5%;
    max-width: 17.5%;
  }

  .product-total, #item-card-header div:nth-child(3) {
    min-width: 22.5%;
    max-width: 22.5%;
  }

  .product-total {
    display: flex;
    justify-content: flex-end;
  }

  .product-total-value {
    max-width: 75%;
  }

  .quantity-selector {
    width: fit-content;
  }

  .subtract-button-container {
    margin-right: -16px;
  }

  .add-button-container {
    margin-left: -16px;
  }

  .product-total-value {
    margin: 0;
  }  
  /* End of Item Card Container */

  /* Checkout Container */
  .checkout-container {
    width: auto;
    margin-top: 5vh;
    height: 50vh;
  }

  #checkout-body {
    overflow-y: auto;
  }

  .total-cost {
    max-width: 80%;
  }
  /* End of Checkout Container */
}

@media (min-width: 768px) and (max-width: 921px) {
  .card-item {
    margin: 0;
  }

  .shopping-cart-container {
    display: block;
  }

  .item-card-container, .checkout-container {
    width: auto;
  }

  .checkout-container {
    margin-top: 10vh;
  }

  .product-total {
    display: flex;
    justify-content: flex-end;
  }

  .product-total-value {
    max-width: 80%;
  }
}

@media (min-width: 922px) and (max-width: 1370px) {
  .card-item {
    margin: 0;
  }

  .total-cost-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    overflow: hidden;
  }

  .product-total {
    display: flex;
    justify-content: flex-end;
  }

  .product-name {
    max-width: 80%;
  }

  .product-total-value {
    max-width: 80%;
  }
}

@media (min-width: 1380px) and (max-width: 1480px) {
  .card-item {
    margin: 0;
  }

  .total-cost {
    max-width: 80%;
  }
}
/* End of Responsiveness */
