@import url("body-navbar-footer.css");

#page-title {
  margin-top: 10vh;
  text-align: center;
  font-family: var(--primary-font);
  margin-bottom: 5vh;
}

#page-title span,
.product-cost span,
.total-cost-container span {
  color: var(--orange);
}

.shopping-cart-container {
  display: flex;
  justify-content: center;
  width: 90%;
  gap: 30px;
  margin: auto;
  margin-bottom: 20vh;
}

.item-card-container {
  width: 67.5%;
}

.checkout-container {
  width: 27.5%;
}

#item-card-header {
  display: flex;
  justify-content: center;
  padding: 1rem 3rem;
}

#item-card-body {
  padding: 1rem 2rem;
  max-height: 60vh;
  overflow-y: auto;
}

#item-card-header div:first-child,
.product-item {
  width: 65%;
  text-align: left;
}

#item-card-header div:nth-child(2),
.quantity-selector {
  text-align: center;
}

#item-card-header div:last-child,
.product-total {
  text-align: right;
}

#item-card-header div:nth-child(2),
#item-card-header div:last-child,
.quantity-selector,
.product-total {
  width: 17.5%;
}

.placeholder-item {
  display: flex;
  align-items: center;
  margin-bottom: 2.5vh;
}

.placeholder-item:last-child {
  margin-bottom: 0;
}

.product-item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.product-img {
  width: 120px;
  height: 120px;
}

.quantity-selector-tally {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.quantity-selector-tally i:hover,
.remove-product:hover,
.x-button:hover {
  cursor: pointer;
  color: var(--orange);
}

.checkout-container-inner {
  padding: 2rem 2rem;
}

.total-cost-container {
  display: flex;
  justify-content: space-between;
}

.checkout-container textarea {
  resize: none;
  overflow-y: auto;
  height: 200px !important;
  width: 100%;
  padding: 1rem 1rem;
  margin-top: 1vh;
}

.send-instructions {
  margin-top: 1.5vh;
  margin-bottom: 1vh;
  font-weight: bold;
  background-color: var(--orange);
}

.checkout-btn {
  font-weight: bold;
  background-color: var(--orange);
}

.send-instructions:hover,
.send-instructions:active,
.checkout-btn:hover,
.checkout-btn:active {
  background-color: chocolate !important;
}

.send-instructions:active,
.checkout-btn:active,
.purchase-btn:active {
  transform: scale(0.95);
}

.subtract-button:active,
.add-button:active,
.x-button:active {
  transform: scale(0.85);
}

.checkout-note {
  font-weight: bold;
}

.checkout-btn {
  width: 100%;
}

.comment-notice {
  margin: 0;
  display: none;
}

#customer-comment {
  resize: none;
  overflow-y: auto;
  height: 100px !important;
  width: 100%;
}

/* bold styling, can be changed if so wishes */
.product-name,
.product-cost,
.remove-product,
.product-total-value,
.total-cost,
.comment-notice,
#checkoutModalLabel,
#order-form label,
.form-header {
  font-weight: bold;
}

.modal-dialog {
  height: 57.5vh;
  display: flex;
  align-items: center;
}

.modal-content {
  display: flex;
  flex-direction: column;
  height: 57.5vh;
}

.modal-body {
  flex: 1;
  overflow-y: auto;
}
